head {
    display: none;
}

body {
    background-color: #c7c3c5;
    font-family: courier, monospace;
}

body {
    display: block;
    margin: 8px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight:600;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header'
        'curri curri form'
        'curri curri form'
        'curri curri form';
    gap: 8px;
    padding: 15px;
}

.i1 {
    height: 120px;
    background-color: #7d7d7d;
    border: 4px solid #000000;
}

.i1 {
    grid-area: header;
}

.i2 {
    background-color: #e8e3e3;
    border: 4px solid #000000;
    height: 550px;
    width: 900px;
}
.i2 {
    grid-area: curri;
}

div {
    display: block;
}

.item1 h1, h2 {
    text-align: center;
}

h1, h2, p, h3 {
    color: #000000;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight:300;
}

.parte1 {
    background-color: #FFF7F4;
    width: 720px;
    height: 470px;
    margin-left: 140px;
    border-radius: 40px;
}

.parte1 {
    background-color: #ffe5d9;
    margin-left: 40px;
    width: 231px;
    height: 470px;
    border-top-left-radius: 100px; 
    border-top-right-radius: 100px;
    float: left;
    box-shadow: 5px 10px 10px #000000;
}

.parte1 img {
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
    border-radius: 100px;
    border: 6px solid #EAC898;
}

.parte1 h3 {
    padding-left: 22px;
    margin-bottom: -8px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 10px;
    padding-inline-start: 30px;
}

.parte2 {
    padding-top: 20px;
    padding-left: 340px;
    word-break: break-word;
}

.parte1 {
    background-color: #6e6c6c9c;
}

.i3 {
    background-color: #e8e3e3;
    border: 4px solid #000000;
    height: 400px;
    width: 100%;
}

.i3 {
    grid-area: form;
}

.i3 form {
    padding-left: 40px;
    padding-right: 40px;
    color: #000000;
}

form {
    display: block;
}

.i3 fieldset {
    border-radius: 1px;
    padding: 25px;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}








